.home {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, #63e6be, #44e9d8);
  overflow: hidden;
  body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    section {
      height: 100%;
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      .home-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 3%;

        height: 30%;
        flex: 1;
        h3 {
          font-size: 40px;
          font-weight: bold;
          color: #fff;
          text-shadow: 4px 4px 0px #20c997;
        }
        p {
          font-size: 24px;
          color: #fff;
          text-shadow: 1px 2px 0px #20c997;
          line-height: 30px;
        }

        button {
          width: 200px;
          height: 60px;
          background: #3bc6b7;
          color: #fff;
          font-size: 25px;
          font-weight: 600;
          border-radius: 50px;
          border: none;
          box-sizing: border-box;
          box-shadow: 1px 1px 3px 1px #495057;
          border-radius: 10px;

          &:hover {
            background: #3ed3c4;
          }
        }
      }
      .home-right {
        flex: 1;
        padding: 5%;
        img {
          width: 115%;
          height: 100%;
          border-radius: 30px;
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
            0 15px 12px rgba(0, 0, 0, 0.22);
        }
      }
    }
  }
}
