.plan {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, #63e6be, #44e9d8);
  overflow: hidden;
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    section {
      height: 100%;
      width: 80%;
      display: flex;
      flex-direction: row;
      .list-container {
        flex: 1;
        height: 100%;
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 40px;
          font-weight: 600;
          color: #fff;
          text-shadow: 4px 4px 0px #20c997;
        }
        .list-content {
          height: 85%;
          margin-left: 10%;
          margin-right: 10%;
          margin-top: 2.5%;
          background: #fff;
          border-radius: 30px;
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
            0 15px 12px rgba(0, 0, 0, 0.22);
        }
      }
      .plan-container {
        flex: 1;
        height: 100%;
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 40px;
          font-weight: 600;
          color: #fff;
          text-shadow: 4px 4px 0px #20c997;
        }
        .plan-content {
          height: 85%;
          margin-left: 10%;
          margin-right: 10%;
          margin-top: 2.5%;
          background: #fff;
          border-radius: 30px;
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
            0 15px 12px rgba(0, 0, 0, 0.22);
        }
      }
    }
  }
}

// list-content
//
