.home-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  position: relative;
  img {
    width: 50px;
    height: 50px;
    filter: opacity(0.35) drop-shadow(0 0 0 #20c997);
    position: absolute;
    top: 0;
    left: 117px;
  }

  .home-title {
    margin-left: 150px;
    font-size: 35px;
    color: #fff;
    font-weight: 600;
    text-shadow: 4px 4px 0px #20c997;
    font-family: "Rubik", sans-serif;
    z-index: 1000;
  }
}
