.home-header {
  display: flex;
  align-items: center;
  height: 60px;

  .home-title {
    margin-left: 50px;
    font-size: 35px;
    color: #fff;
    font-weight: 600;
    text-shadow: 4px 4px 0px #20c997;
    font-family: "Rubik", sans-serif;
  }
}
