.home-header {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #63e6be, #38d9a9);
  height: 60px;

  .home-title {
    margin-left: 50px;
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    text-shadow: 4px 4px 0px #bdbdbd;
    font-family: "Rubik", sans-serif;
  }
}
